@charset "UTF-8";
/* CSS Document */
/* www.josefzacek.com /*

/* mobile properties*/

/*index page */
    #index section img {
        max-width: 21px;
    }
/* about page */
    #about img {
        max-width: 700px;
        float: right;
        margin-left: 1%;
        margin-bottom: 1%
    }
/* product page */
    #product .one_half {
        border-bottom: 1px solid #74b91e;
    }
    #product img {
        max-width: 110px;
        float: left;
    }
/* gallery page */
    #gallery figure {
        border-bottom: 1px solid;
        font-style: italic;
    }
/* contact page */
    #contact address, #contact p {
        text-align: center;
    }
    #contact #map_canvas {
        height: 200px;
        border: 13px solid #fff;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        transition:All 0.7248s linear;
	-webkit-transition:All 0.7248s linear;
	-moz-transition:All 0.7248s linear;
    }
    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact textarea {
        width: 90%;
        border: 2px solid #74b91e;
        padding: 1.2%;  
    } 
    #contact textarea {
        height: 145px;
    }
    #contact input[type="submit"] {
        float: right;
        padding: 1.2%;
        margin-right: 6%;
        margin-bottom: 2%;
    }
/*thank you page */
    #thank_you {
        padding: 8% 0;
    }
    #thank_you h1, #thank_you p {
          text-align: center;
    }
    #thank_you p a {
        background-color: #74b91e;
        padding: 5px 10px;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        color: #fff;
        font-size: 120%;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }



/* 404 page */
    #page404 {
        padding: 8% 0;
    }
    #page404 h1, #page404 p {
          text-align: center;
    }
    #page404 p a {
        background-color: #74b91e;
        padding: 5px 10px;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        color: #fff;
        font-size: 120%;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

   



/* tablet properties*/
@media only screen and (min-width: 481px) {
  
    
    
    /* contact page */
    #contact address {
        margin-left: 15%;
    }
     #contact address, #contact p {
        text-align: left;
    }
     #contact .address {
         margin-left: 50px;
     }
    #contact #map_canvas {
        height: 220px;
    }

	
}

/* desktop properties */
@media only screen and (min-width: 769px) {
    
    /* contact page */
     #contact #map_canvas {
        height: 350px;
    }
    
    
}

