<footer>
      <ul>
        		<li><a href="{{site.baseurl}}/index.html">Home</a> |</li> 
        		<li><a href="{{site.baseurl}}/about-wooden-world.html">About</a> |</li> 
                <li><a href="{{site.baseurl}}/products-of-wooden-world.html">Products</a> |</li>
        		<li><a href="{{site.baseurl}}/gallery-of-wooden-world.html">Gallery</a> |</li> 
        		<li><a href="{{site.baseurl}}/contact-wooden-world.html">Contact</a></li>
    </ul>
    <p>Created by <a href="http://www.josefzacek.com" title="www.josefzacek.com">www.josefzacek.com</a></p>
</footer>