<header>
         <a href="{{site.baseurl}}/index.html">
             <img src="{{site.baseurl}}/images/logo.png" alt="Wooden World logo" class="logo">
         </a>
   
         
         
        <h2 class="phone">Phone: 087 0525927</h2>
    <nav>
        <ul id="nav">
            <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
            <li><a href="{{site.baseurl}}/about-wooden-world.html" class="{% if page.url == '/about-wooden-world.html' %}current{% endif %}">About</a></li>
            <li><a href="{{site.baseurl}}/products-of-wooden-world.html" class="{% if page.url == '/products-of-wooden-world.html' %}current{% endif %}">Products</a></li>
            <li><a href="{{site.baseurl}}/gallery-of-wooden-world.html" class="{% if page.url == '/gallery-of-wooden-world.html' %}current{% endif %}">Gallery</a></li>
            <li><a href="{{site.baseurl}}/contact-wooden-world.html" class="{% if page.url == '/contact-wooden-world.html' %}current{% endif %}">Contact</a></li>
                    </ul>
    </nav>
    <div class="clear_column"></div>
</header>