</header>
    <h1>This is header</h1>
    <nav>
        <ul id="nav">
            <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">home</a></li>
            <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></li>
            <li><a href="{{site.baseurl}}/products.html" class="{% if page.url == '/products.html' %}current{% endif %}">Products</a></li>
            <li><a href="{{site.baseurl}}/gallery.html" class="{% if page.url == '/gallery.html' %}current{% endif %}">Gallery</a></li>
            <li><a href="{{site.baseurl}}contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></li>
            <li><a href="{{site.baseurl}}/post-listing.html" class="{% if page.url == '/post-listing.html' %}current{% endif %}">posts listing</a></li>
        </ul>
    </nav>
</header>