<header>
         <a href="/index.html">
             <img src="images/logo.png" alt="Wooden World logo" class="logo">
         </a>
   
         
         
        <h2 class="phone">Phone: 087 0525927</h2>
    <nav>
        <ul id="nav">
            <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
            <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></li>
            <li><a href="{{site.baseurl}}/products.html" class="{% if page.url == '/products.html' %}current{% endif %}">Products</a></li>
            <li><a href="{{site.baseurl}}/gallery.html" class="{% if page.url == '/gallery.html' %}current{% endif %}">Gallery</a></li>
            <li><a href="{{site.baseurl}}contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></li>
                    </ul>
    </nav>
    <div class="clear_column"></div>
</header>